$layout-offset: 0.75rem;
$base-vertical-spacing: 2rem;
$main-offset-top: 2rem;
$size00: 1em;
$size300: 18.75em;
$size350: 21.9em;
$size400: 25em;
$size500: 31.25em;
$size550: 34.375em;
$size600: 37.5em;
$size700: 43.75em;
$size800: 50em;
$size1000: 62.5em;
$size1200: 75em;
$size1600: 100em;

$black: #333333;
$greenA: #003d1a;
$greenB: #2a5f53;
$greenblue: #54818d;
$bluegreen: #7ea3c6;
$blueA: #a8c5ff;
$gray: #bcbcc4;
