$layout-offset: 0.75rem;
$base-vertical-spacing: 1em;
$main-offset-top: 2rem;
$size00: 1em;
$size300: 18.75em;
$size350: 21.9em;
$size400: 25em;
$size500: 31.25em;
$size550: 34.375em;
$size600: 37.5em;
$size700: 43.75em;
$size800: 50em;
$size1000: 62.5em;
$size1200: 75em;
$size1600: 100em;

@mixin breakpoint($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

$greenA: #003d1a;
$greenB: #2a5f53;
$greenblue: #54818d;
$bluegreen: #7ea3c6;
$blueA: #a8c5ff;
$gray: #bcbcc4;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Catamaran", sans-serif;
  font-size: calc(0.8em + 0.2vw);
  min-height: 100%;
  display: flex;
  justify-content: center;
  min-width: 320px;
  line-height: 1.4;
}

body {
  display: flex;
  flex-wrap: wrap;
  max-width: 21cm;
  width: 100%;
  -webkit-print-color-adjust: exact;
}

aside > ul {
  flex-grow: 0;
}

main {
  width: 100%;
  justify-content: center;
}

section.cover {
  display: flex;
  flex-wrap: wrap;
}

.cover-letter {
  @include breakpoint($size00) {
    width: 100%;
  }
  @include breakpoint($size550) {
    width: 66.66%;
  }
}

main,
aside {
  padding: 0 2rem;
  max-width: calc(75rem + (2 * #{$layout-offset}));
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

main {
  margin-bottom: calc(#{$main-offset-top} * 2.5);
  margin-top: $main-offset-top;
}

aside {
  margin-bottom: $main-offset-top;
  justify-content: initial;
  flex-direction: column;
  @include breakpoint($size00) {
    margin-top: $main-offset-top;
    width: 100%;
  }
  @include breakpoint($size550) {
    margin-top: 0;
    width: 33.33%;
  }
}

section.cover > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

aside > * {
  @include breakpoint($size00) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  @include breakpoint($size550) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
// --------------------------------------
section h1,
section:not(.cover) h2 {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
.skill-class > *:not(h3) {
  margin: 1em 0 0 0;
  word-wrap: break-word;
}

h1:first-of-type {
  margin: 0em 0 0 0;
}

section:not(.cover) h1,
section:not(.cover) h2,
div.cover-letter h2,
div.cover-letter h1 {
  padding: 0.3rem 0;
}

.skill-class h3 {
  border-bottom: 0.1rem solid black;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

article ul {
  padding-left: 0;
}

ul li:first-of-type {
  margin-top: 0.5rem;
}

ul.split-2 {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

ul.split-2 li {
  width: 50%;
  margin-top: 0rem;
}

.inner > * {
  margin-top: $base-vertical-spacing;
}

.inner,
.component-container {
  margin-left: -$layout-offset;
  margin-right: -$layout-offset;
}

aside ul:first-of-type,
aside h2:first-of-type {
  margin-top: 0;
}

section {
  padding-left: $layout-offset;
  padding-right: $layout-offset;
}

section.cover {
  padding-left: 0;
  padding-right: 0;
}

.job-desc {
  @include breakpoint($size00) {
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($size600) {
    display: inherit;
    flex-direction: column;
  }
}

.job-desc h5 {
  @include breakpoint($size00) {
    width: 100%;
    order: 2;
  }
  @include breakpoint($size600) {
    width: 35%;
  }
  @include breakpoint($size700) {
    width: 50%;
  }

  float: left;
  padding-bottom: 1rem;
}

.job-desc p {
  @include breakpoint($size00) {
    order: 3;
  }
}

.duties {
  @include breakpoint($size00) {
    width: 100%;
    order: 1;
    padding: 0;
  }
  @include breakpoint($size600) {
    width: 65%;
    padding: 0 0 0.5rem 0.5rem;
  }
  @include breakpoint($size700) {
    width: 50%;
  }
  display: inline;
  float: right;
}

.duties h5 {
  width: 100%;
  padding-bottom: 1rem;
}
.duties ul {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0rem;
}

.duties ul li {
  @include breakpoint($size00) {
    width: 100%;
  }
  @include breakpoint($size350) {
    width: 50%;
  }
  margin-top: 0;
}

ul.ambits li::before,
.duties ul li::before,
.boasts li::before,
.skill li::before {
  content: "";
  position: absolute;
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  left: 0.25rem;
  @include breakpoint($size00) {
    top: 0.35em;
  }
  @include breakpoint($size500) {
    top: 0.4em;
  }
}

.duties ul li::before,
ul.ambits li::before,
.boasts li::before {
  background: $gray;
}

.personal a {
  width: 100%;
}

.personal li,
.tertiary li {
  display: flex;
  flex-wrap: wrap;
  @include breakpoint($size00) {
    margin-bottom: 0.5rem;
  }
}

//-----------------------------------------------Skill list
.skill li,
.boasts li,
.duties ul li {
  list-style: none;
  padding-left: 1.1rem;
  position: relative;
}

.skill li.sk1::before {
  background: $greenA;
}
.skill li.sk2::before {
  background: $greenB;
}
.skill li.sk3::before {
  background: $greenblue;
}
.skill li.sk4::before {
  background: $bluegreen;
}
.skill li.sk5::before {
  background: $blueA;
}

//-----------------------------------------------Legend
.legend {
  &.no-grow {
    margin-top: 2rem;
  }
  .scale {
    margin: 0rem 0 0.5rem;
    display: flex;
  }
  .labels {
    position: relative;
    display: flex;
  }
  .title {
    text-align: left;
    margin: 0 0 0.5rem;
    font-weight: bold;
    font-size: 90%;
  }
  .scale ul {
    margin: 0;
    padding: 0;
    float: left;

    width: 100%;
  }
  .scale ul li {
    display: block;
    width: 20%;
    margin: 0 0 0.5rem;
    text-align: center;
    font-size: 80%;
    list-style: none;
  }
  ul.labels li span {
    display: block;
    float: left;
    height: 1.2rem;
    width: 100%;
  }

  .key div {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .key1 {
    span {
      background: $blueA;
    }
    div {
      top: -1.2rem;
      text-align: left;
    }
  }

  .key2 span {
    background: $bluegreen;
  }

  .key3 {
    span {
      background: $greenblue;
    }
    div {
      top: 1.5rem;
      text-align: center;
    }
  }

  .key4 span {
    background: $greenB;
  }

  .key5 {
    span {
      background: $greenA;
    }
    div {
      top: -1.2rem;
      text-align: right;
    }
  }
}

.print-link {
  display: none;
}

//-----------------------------------------------Portfolio

.portfolio {
  flex-wrap: wrap;
  display: flex;
}

.portfolio li {
  @include breakpoint($size00) {
    margin-top: 0.2rem;
    &:first-of-type {
      margin-top: 0;
    }
    &.no-mobile {
      height: 0;
      opacity: 0;
    }
  }
  @include breakpoint($size500) {
    &.no-mobile {
      height: auto;
      opacity: 1;
    }
  }
}

.portfolio li:nth-child(3n - 1) {
  @include breakpoint($size00) {
    margin-bottom: 0.2rem;
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include breakpoint($size500) {
    margin-bottom: 0.2rem;
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.portfolio li:nth-child(3n - 2) {
  @include breakpoint($size00) {
    margin-bottom: 0.2rem;
    width: 30%;
  }
  @include breakpoint($size500) {
    margin-bottom: 0.2rem;
    width: 25%;
  }
}

.portfolio li:nth-child(3n) {
  @include breakpoint($size00) {
    margin-bottom: 1.2rem;
    width: 100%;
  }
  @include breakpoint($size500) {
    margin-bottom: 0rem;
    width: 35%;
  }
}

.portfolio li.portfolio-head:nth-child(3n - 2),
.portfolio li.portfolio-head:nth-child(3n - 1),
.portfolio li.portfolio-head:nth-child(3n) {
  margin-bottom: 0rem;
}
//-----------------------------------------------

@media print {
  .print-link {
    display: inline;
  }
  a {
    display: none;
  }
  aside {
    width: 100%;
  }
  aside > * {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
